*{
    margin: 0; 
    overflow-x: hidden;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
/* configuracoes da lista */
ul{
    list-style-type: none;
}
/* fim das configuracoes da lista */
/* configuração de botoes */
button{
    border: none;
    border-radius: 4px;
    text-transform: uppercase;
    min-width: 85px;
    padding: 5px;
    align-self: center; 
    cursor: pointer;   
}
#logo{
    width:9.29em;
    height:3.14em;
}
#botaoCad{
    background-color:#FF7300;
    font-size: 10px;
    color:#FFFFFF;
}
#botaoEntrar{
    background-color:#2b313b;
    border: 1px solid #FFFFFF;
    color:#FFFFFF;
    font-size: 10px;
}
/* fim configurações de botao */
/* configuracoes de capa*/
#banner{
    width:100%;
    height: 100%;    
}
/* fim das configuracoes de capa*/
/* configuracoes de texto */
.texto1{
    color: #ffffff;
    padding-left: 5px;
    font-size: 11px;
    line-height: 28px; 
    align-self: flex-start;
}
h1{
    color: #993366;
    font-size:20px;
    margin-top:30px;
    margin-bottom:30px;
}
/* fim configuracoes de texto */
/* configuracoes de sections ,sidebar,titulos ,e <a> */
.contatoLink{  
    color: #4e555c; 
    text-decoration: none; 
}
.carrinhoLink{
    text-decoration: none; 
    color:white;
}
#sidebar{
    background-color:#FF7300;
    position:fixed;
    bottom:-1px;
    right:0.712em;
    border-radius: 0.5em;
    padding:0.5em;
    color:white;
    z-index:2;
    cursor:pointer;
}
input{
    padding-left:12px;
    padding-right:12px;  
}
.cadastrarEntrar{
    background-color:#2b313b;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height:2.25em;
}
.pesquisa{
    background-color: rgb(78, 85, 92);
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    align-items: center;
}
.produtosExposicao-secao2{
    display:flex;
    justify-content: space-around;
}
.produtosExposicao-secao3{
    padding-top:10px;
    display:flex;
    justify-content: space-around;
    padding-bottom:30px;
}
.produtosExposicao{
    display: flex;
    justify-content: space-around;
}
hr{
    margin-top:25px;
    margin-bottom:20px;
    justify-content: center;
    width:90%;
    margin-left:35px;    
    opacity: 0.3;
}
.h1config{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
/* fim configuracoes de sections */
/* config footer */
footer{
    color:white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 14px;
    text-transform: uppercase;
    font-family: arial;
    height:18.18em;
}
.footerDireitos{
    height: 128px;
    background-color: #2b313b;
}
.footerDireitos>div{
    font-size: xx-small;
    color:grey;
    display:flex;
    text-align: center;
    padding-left:40px;
    padding-right:40px;
    
}
.footer1{
    background-color: #f6f5f5;   
    height:7.25em;
}
.footer1>div{
    display:flex;
    flex-direction: column;
    align-items: center;
    font-size: 10px;
    justify-content: space-between;
    height:4.3em;

}
.footer2>div>h3{
    color:white;
}


h3{
    color:black;
    font-size:14px;
}
.footer2{
    background-color:#4e555c;
    display: flex;
}
.sobreNos{
        display:flex;
}
/* fim config footer */
/* configurações media screen */
@media only screen and (max-width: 720px) {
    .cadastrarEntrar{
        background-color:#2b313b;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 3.68em;
    }
    #sidebar{
        background-color:#FF7300;
        position:fixed;
        bottom:25px;
        right:23px;   
    }
    #logo{
        width: 256px;
        height: 86px;
    }
    .texto1{
        align-self: center;
    }
    hr{
        width: 100%;
        margin-left:0px;
    }
    .imagens-section{
        width:30%;
        width: 30%;
        height: 10em;       
    }
    .pesquisa{
        background-color: rgb(78, 85, 92);
        display: flex;
        flex-direction: column;
        height: 14.31em;
    }  
    #input1{
        order:2;
    }
    #banner{
        width:100%;
        height: 100%;    
    }    
    footer{
        color:white;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        font-size: 14px;
        text-transform: uppercase;
        font-family: arial;
        height:10em;
    }
    .footer2{
        background-color:#4e555c;
        display: flex;
        flex-direction: column; 
        border:2px solid green;
        height:48em;
    }
    .footerDireitos>div>img{
        display: none;
    }
}
/* fim configuracao media screen */